[access]
	inheritFrom = Private-Projects
[access "refs/*"]
	owner = group user/sincerelamb
[access "refs/for/refs/*"]
	read = group user/sincerelamb
	push = group user/sincerelamb
	label-Code-Review = -2..+2 group user/sincerelamb
	label-Verified = -1..+1 group user/sincerelamb
	rebase = group user/sincerelamb
	removeReviewer = group user/sincerelamb
	submit = group user/sincerelamb
[access "refs/heads/*"]
	read = group user/sincerelamb
	create = group user/sincerelamb
	push = +force group user/sincerelamb
	pushMerge = group user/sincerelamb
[access "refs/tags/*"]
	push = +force group user/sincerelamb
	pushTag = group user/sincerelamb
	pushSignedTag = group user/sincerelamb
